*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
  
.container{
    width: 40%;
    min-width: 450px;
    background-color: #9990ff52;
    backdrop-filter: blur(10px);
    padding: 80px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 15px 20px #8b8cc9;
}
#output{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #0050f0;
    width: 75%;
    height: 35px;
    padding: 20px 5px;
    font-family: 'Poppins', sans-serif;
    color: #001641;
    font-size: 18px;
    letter-spacing: 1px;
}
button{
    width: 11%;
    height: 38px;
    background-color: transparent;
    border: none;
    color: #0050f0;
    font-size: 18px;
    float: right;
    text-align: right;
    cursor: pointer;
}
input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 3.5px;
    margin-top: 80px;
    background-color: #0050f0;
    border-radius: 3.5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #001641;
    border-radius: 50%;
}
h3{
    font-family: 'Roboto Mono',sans-serif;
    display: inline-block;
    width: 10%;
    color: #001641;
    background-color: #6164ff;
    text-align: center;
    padding: 5px 0;
    margin-left: 3%;
    border-radius: 3px;
    font-size: 18px;
}